<div class="row">
  <div class="container-fluid">
    <div class="col-md-3">
      <h3 *ngIf="movieRating">Overall Movie Rating: {{movieRating}}</h3>
      <h1>Plot</h1>
    </div>
    <div class="col-md-3">
    <star-rating-comp 
      class="stars" 
      [starType]="'icon'" 
      [rating]="movieRating" 
      [staticColor]="'ok'" 
      [numOfStars]="5" 
      [readOnly]="true" 
      [hoverEnabled]="true">
    </star-rating-comp>
    </div>
    <hr class="col-md-12">
    <app-user-rating 
      (onRatingChange)="this.onRatingChange.emit($event)" 
      [(plotModel)]="model"
      [ratingText]="'My Rating: '">
    </app-user-rating>
    <p class="plot col-md-12">An ambulance driver, a medical-broker, a hospital HR (Pasanga Sivakumar) and a surgeon, were mysteriously abducted at
      dawn. Alerted by the incidents, Ratnavel (Sathyaraj), a police officer with Tamil Nadu Police nabs the suspect. As
      the interrogation begins the suspect explains his motive, Maaran (Vijay), popularly known as ₹5 doctor, as he charges
      similar amount for treating patients from everyone, arrives for a medical seminar only to be mistaken at Paris Airport
      due to his cultural identity. After the seminar, Maaran displeases Arjun Zachariah (Hareesh Peradi), another doctor
      from Chennai, and his offer to team up with him, but develops mutual romantic feelings with his assistant, Anu Pallavi
      (Kajal Aggarwal). He invites Pallavi and her nagging boss to his magic show, where Arjun is killed deliberately presuming
      magic-gone-wrong shocking his friend Daniel Arockiyaraj (S. J. Surya). After arriving back to Chennai, Maaran gets
      betrothed to Tara (Samantha), a media anchor. When an autodriver's school-going daughter met with accident, the treatment
      is delayed deliberately resulting in her death and suicide of her mother. With the help of Vadivu (Vadivelu), the people
      behind this incident were abducted, tortured and killed. Deducing the events, daniels henchmen traps Maaran, but gets
      thrashed by Vetri (brother of Maaran), who body swaps Maaran and thus gets caught to the police and reveals himself
      as a magician who killed Arjun in Paris, for his inhumanely approach in medical profession. Vetri then escapes and
      convinces Pallavi. As Daniel reaches out to Maaran, holding Tara and Sarala as hostage to find the whereabouts of Vetri,
      the latter traces Vadivu and confronts Vetri. At the same time, Ratnavel reaches blind magician Salim Ghosh (Sangili
      Murugan) to know the truth. In 1970’s, Vetrimaaran, a village wrestler marries Aishwarya (Nithya Menen), a Punjabi
      and comes back to his native place, Manoor (Madurai district) with his newborn kid (Maaran). He successfully chases
      out people who wish to build industry, and decides for a temple only to be thwarted by a fire accident resulting in
      death of kids due to lack of hospital. When Vetrimaaran, Aishwarya and the villagers, finally decides to go for building
      a hospital Daniel and Arjun were made as the chief doctors of the hospital and ownership also transferred. The hospital
      soon becomes famous for its free medical treatment to all. However, it soon turns out that Daniel and Arjun were crooks
      who were after money and performs a Caesarean section on Aishwarya when she was in labour with her second child, with
      the intention of extracting more money from Vetrimaaran, even though she could deliver the child normally. While she
      is fast losing a lot of blood during the operation and that along with an overdose of anasthesia leading to her death,
      the child was declared stillborn, before she spills the beans on Daniel and Arjun. Determined Vetrimaaran, was beaten
      to death by Daniel and his henchmen alongwith shattering a glass bottle on his son’s head due to which Maaran is unable
      to recover what happened before he was hit on head, who was safely placed into Chennai-bound lorry before his final
      breathe. Meanwhile, the second child (Vetri) of Vetrimaaran did not turn out to be stillborn. He was adopted and taught
      all the magic tricks from Salim Ghosh. As Maaran reconciles with Vetri and swaps themselves when police arrest Vetri,
      Daniel tries to make a deal with Maaran (actually Vetri), who mocks him off for sending his son to real Vetri presuming
      to be Maaran, who slits his wrist. Daniel upon reaching and getting thrashed by Vetri, is interrupted by Kasi, who
      brings unconscious Maaran, while being taken to court. However, Vetri and Maaran, bounces back as and team up to finish
      off both Kasi and Daniel. Vetri is then arrested for his role in the murders is sentenced to prison. Before going to
      jail, he declares that he would continue with “cleansing process” until all doctors and hospital staff indulging in
      corrupt practices are eliminated. Meanwhile in prison, Vetri contemplates a television news report in which a young
      girl had died due to negligent medical treatment, before vanishing off.</p>
  </div>
    <app-user-rating 
      class="col-md-offset-6 col-md-6" 
      (onRatingChange)="this.onRatingChange.emit($event)"  
      [(plotModel)]="model"
      [ratingText]="'Plot Rating: '">
    </app-user-rating>
</div>