<div class="container-fliud">
	<!-- Box Office Heading -->
	<div class="row heading">
		<p class="col-xs-12 text-center">Box Office</p>
	</div>

	<!-- Box Office information -->
	<!-- 6 box office should be coming here -->
	<div class="row bOCircles">
		<div class="col-lg-4 col-md-4 col-xs-12">
			<app-box-circle [image] = "'../../assets/images/theatre.jpg'" [heading]="'Theatre'" [overlay]="'3,330+'"></app-box-circle>
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12">
			<app-box-circle [image] = "'../../assets/images/club.jpg'" [heading]="'Clubs In'" [overlay]="'$Billion'"></app-box-circle>			
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12">
			<app-box-circle [image] = "'../../assets/images/imdb.jpg'" [heading]="'IMDb '" [overlay]="'8.9/10'"></app-box-circle>			
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12">
			<app-box-circle [image] = "'../../assets/images/hero.jpg'" [heading]="'Hero'" [overlay]="'Vijay'"></app-box-circle>
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12">
			<app-box-circle [image] = "'../../assets/images/director.jpg'" [heading]="'Director'" [overlay]="'Atlee'"></app-box-circle>			
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12">
			<app-box-circle [image] = "'../../assets/images/budget.jpg'" [heading]="'Budget'" [overlay]="'130 Cr.'"></app-box-circle>			
		</div>
	</div>

	<!-- rating -->
	<!-- Rating component -->
	<div class="row rating">
		<div class="stars col-xs-12 col-sm-12 col-md-11 col-lg-11">
			<div>
				<span (click)="rate(1)">1</span>
			</div>
			<div>
				<span (click)="rate(2)">2</span>
			</div>
			<div>
				<span (click)="rate(3)">3</span>
			</div>
			<div>
				<span (click)="rate(4)">4</span>
			</div>
			<div>
				<span (click)="rate(5)">5</span>
			</div>
			<div>
				<span (click)="rate(6)">6</span>
			</div>
			<div>
				<span (click)="rate(7)">7</span>
			</div>
			<div>
				<span (click)="rate(8)">8</span>
			</div>
			<div>
				<span (click)="rate(9)">9</span>
			</div>
			<div>
				<span (click)="rate(10)">10</span>
			</div>
			
		</div>
			<!-- <div class="average col-xs-12 col-sm-12 col-md-6 col-lg-6">
				{{average| number:'1.1-1'}}
			</div> -->
	</div>
	</div>
